

<h4>Shopping Cart for [User]</h4>
<br>
<table class="table table-striped table-hover table-condensed">
	
		<% @load_product_in_cart.each do |item| %>
		<tr>
		<td class="thead"><a href="/products/<%= item.id %>" /><%= item.name %></a></td>
		<td class="thead"><a href="/products/<%= item.id %>" /><%= number_to_currency(item.price) %></a></td>
		<td>
				<form action="/products/<%= item.id %>/update" method='get'>
					<input type='hidden' value='false' name="@in_cart"/>
					<button class="btn btn-danger btn-mini">X</button>
				</form>
		</td>
		
	</tr>
	<tr>
		<% end %>

	<td><b>Cart Total Price</b></td>
	<td><%= number_to_currency(show_total_price) %></td>
	<td><td>
	</tr>

</table>

