<p id="notice"><%= notice %></p>
<%= render 'cart' %>
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
	<b>In Cart</b>
	<%= @product.in_cart %>
</p>


<%= form_for(@product) do |f| %>
<div class="field">
   <%= f.hidden_field :in_cart, :value => true %>
  </div>
<div class="actions">
    <%= f.submit %>
    <% end %>
  </div>
<form action="/reviews/new" method='get'>
	<input type='hidden' value='<%= @product.id %>' name='product_id'/>
		<button type='submit'>Write your review for <%= @product.name %></button>
</form>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %> |
<a href="/reviews/new?product_id=<%= @product.id %>">Review</a>

<div>
  <%= render 'reviews/form' %>
</div>
 
<p>
  <b>Reviews:</b>
  <ol>
    <% @product.reviews.each do |review| %>
      <li> <%= review.rating %> </br>
           <%= review.body %> 
           <% end %>
      </li>
  </ol>
</p>