<p id="notice"><%= notice %></p>
<%= render 'cart %>'
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
	<b>In Cart</b>
	<%= @product.in_cart %>
</p>
<form action="/reviews/new" method='get'>
	<input type='hidden' value='<%= @product.id %>' name='product_id'/>
		<button type='submit'>Write your review for <%= @product.name %></button>
</form>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %> |
<%= link_to 'Review', new_review_path(@product) %>
<a href="/reviews/new?id=<%= @product.id %>">Review</a>

<%= @review